In [218]:
import pandas as pd

In [219]:
df_1 = pd.read_csv('data/hscode_data.xlsx - 1.csv')

In [220]:
df_2 = pd.read_csv('data/hscode_data.xlsx - 2.csv')

In [221]:
df_3 = pd.read_csv('data/hscode_data.xlsx - 3.csv')

In [222]:
df_4 = pd.read_csv('data/hscode_data.xlsx - 4.csv')

In [223]:
df_5 = pd.read_csv('data/hscode_data.xlsx - 5.csv')

In [224]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104079 entries, 0 to 104078
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Ma_HS          104079 non-null  int64
 1   Ten_SP         104079 non-null  object
 2   Ngay_xac_nhan  104041 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.4+ MB

In [230]:
# Đặt các DataFrame vào một danh sách
dfs = [df_1, df_2, df_3, df_4, df_5]

# Sử dụng pd.concat() để nối các DataFrame
df_big = pd.concat(dfs, ignore_index=True)

# In DataFrame lớn
print(df_big)

           Ma_HS                                             Ten_SP  \
0       73269099  Thép chữ L, KT: (748x20x20x2t mm), thuộc mục I...
1       73269099  Ống thép tròn, KT: (1000mm x phi 10), thuộc mụ...
2       85177021  Tấm phim cảm biến của thiết bị di động (ITO),M...
3       85177021  Bản mạch FPCB,MU41-S00433142.14 x 217.82mm, 0....
4       39191090  Băng dính dẫn điện (ACF) dạng cuộn,3719-S00002...
...          ...                                                ...
500706  85365099  .#&Công tắc từ dùng cho thiết bị lắp ráp đồng ...
500707  39269099  .#&Miếng đệm dùng cho hàm kẹp cố định sản phẩm...
500708  39269099  .#&Miếng đệm dùng cho hàm kẹp cố định sản phẩm...
500709  85414900  .#&Cảm biến quang điện, model: LU-L24N, công s...
500710  85414900  .#&Cảm biến quang điện, model: LU-L24N, công s...

             Ngay_xac_nhan
0       15/05/2014 0:00:00
1       15/05/2014 0:00:00
2       22/04/2014 0:00:00
3       22/04/2014 0:00:00
4       22/04/2014 0:00:00
...                    ...
500706  30/08/2023 0:00:00
500707  30/08/2023 0:00:00
500708  30/08/2023 0:00:00
500709  30/08/2023 0:00:00
500710  30/08/2023 0:00:00

[500711 rows x 3 columns]

In [231]:
df_big.head()

,Ma_HS,Ten_SP,Ngay_xac_nhan
0,73269099,"Thép chữ L, KT: (748x20x20x2t mm), thuộc mục I...",15/05/2014 0:00:00
1,73269099,"Ống thép tròn, KT: (1000mm x phi 10), thuộc mụ...",15/05/2014 0:00:00
2,85177021,"Tấm phim cảm biến của thiết bị di động (ITO),M...",22/04/2014 0:00:00
3,85177021,"Bản mạch FPCB,MU41-S00433142.14 x 217.82mm, 0....",22/04/2014 0:00:00
4,39191090,"Băng dính dẫn điện (ACF) dạng cuộn,3719-S00002...",22/04/2014 0:00:00

In [233]:
df_big = df_big.drop_duplicates(subset=['Ten_SP'])

In [234]:
df_big.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191891 entries, 0 to 500705
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Ma_HS          191891 non-null  int64
 1   Ten_SP         191891 non-null  object
 2   Ngay_xac_nhan  191822 non-null  object
dtypes: int64(1), object(2)
memory usage: 5.9+ MB

In [236]:
df_big.to_csv('data/HSCode_sample.csv', index=False)

In [239]:
data = {'A': ['text1', 'text2', 'text3'],
        'B': ['text4', 'text5', 'text6'],
        'C': ['text7', 'text8', 'text9']}

df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data)
df3 = pd.DataFrame(data)
df4 = pd.DataFrame(data)
df5 = pd.DataFrame(data)

# Nối các DataFrame lại với nhau
df_big = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

# Định nghĩa hàm tạo đoạn văn bản từ các cột A, B và C
def create_text(row):
    return ' '.join([str(row['A']), str(row['B']), str(row['C'])])

# Áp dụng hàm tạo đoạn văn bản cho từng dòng
df_big['text'] = df_big.apply(create_text, axis=1)

# In DataFrame lớn với cột 'text' mới
print(df_big[['text']])

                 text
0   text1 text4 text7
1   text2 text5 text8
2   text3 text6 text9
3   text1 text4 text7
4   text2 text5 text8
5   text3 text6 text9
6   text1 text4 text7
7   text2 text5 text8
8   text3 text6 text9
9   text1 text4 text7
10  text2 text5 text8
11  text3 text6 text9
12  text1 text4 text7
13  text2 text5 text8
14  text3 text6 text9

In [244]:
import pandas as pd

df = pd.read_csv('data/__2.csv')
# hscode,mota
def filter_fn(row):
    if len(row['hscode'])<4  and row['mota'][0]!='-':
        return False
    else:
        return True
    
m = df.apply(filter_fn, axis=1)
df1 = df[m]
df1

         hscode                                               mota
12         0101                                 Ngựa, lừa, la sống
13          #13                                            - Ngựa:
14     01012100                 - - Loại thuần chủng để nhân giống
15     01012900                                      - - Loại khác
16       010130                                             - Lừa:
...         ...                                                ...
19888  98494600  - Engine ECU và các bộ điều khiển khác, được s...
19889  98494600  - Engine ECU và các bộ điều khiển khác, được s...
19890  98500000                            Thuốc trị mụn trứng cá.
19891  98510000                           Trứng cá dùng làm giống.
19892  98520000                              Bột đậu nành lên men.

[19861 rows x 2 columns]

In [248]:
df1.to_csv("data/xinphet.csv",index=False)